main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.current-char {
    background-color: #84ef8f7e;
}

.return::before {
    color: transparent;
    content: "↵";
}
.current-char.return::before, .error-char.return::before {
    color: white;
}

.error-char {
    background-color: red;
}

#passage-characters {
    text-align: left;
    white-space: pre;
}

#passage-input {
    opacity: 0;
    left: -100%;
}
