.current-char {
    background-color: rgba(0, 128, 0, 0.454);
}

.current-char.return::before, .error-char.return::before {
    content: "↵";
}

.error-char {
    background-color: red;
}

section {
    text-align: left;
    white-space: pre;
}