main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.current-char {
    background-color: rgba(0, 128, 0, 0.454);
}

.current-char.return::before, .error-char.return::before {
    content: "↵";
}

.error-char {
    background-color: red;
}

#passage-characters {
    text-align: left;
    white-space: pre;
}

#passage-input {
    opacity: 0;
    left: -100%;
}
