html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75vw;
    margin: 0;
    height: auto;
}

h1 {
    text-shadow: 0px 0px 15px black;
}

#logo {
    width: 400px;
}

#stats-container {
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
    width: 75vw;
    animation: fade 1s;
}

.stat {
    padding-top: 10px;
    min-width: 15vw;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828c4;
    border: 3px #84ef8e solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    transition: 1s;
}

.stat:hover {
    box-shadow: 0px 0px 10px white;
    transition: 1s;
}

button {
    padding: 10px;
    margin: 10px;
    font-family: 'Ubuntu Mono';
    background: #4d4d4d;
    box-shadow: 0px 0px 5px black;
    border: 2px solid #84ef8e;
    border-radius: 10px;
    color: white;
    transition: .5s;
}

button:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 10px white;
    transition: .5s;
    color:#84ef8e;
    background: #393939;
}

@keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
}