@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html {
    background-color: #000000ea;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.container {
    background-color: #282828c4;
    border: 3px #84ef8e solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

button {
    font-size: 1.1em;
    outline: none;
}

#logo {
    width: 300px;
}

.login-error {
    color: red;
}