html {
    background-color: #000000ea;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #84ef8e;
    padding: 5px;
}

header h1 {
    padding: 0 10px;
    margin: 0;
}

header a, header a:visited, header a:hover, header a:active {
    color:#84ef8e;
    text-decoration: none;
}

main {
    background-color: #282828c4;
    height: auto;
    width: 75vw;
    border: 3px #84ef8e solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    margin: 5em auto;
}

a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
}

#passage-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
}

.passage-card:hover {
    box-shadow: 0px 0px 10px white;
    transition: .5s;
}

#logo {
    width: 300px;
}

.container {
    min-width: 50vw;
    padding: 20px;
    max-width: 80vw;
    margin: auto;
}

.passage-card {
    border: 1px solid #84ef8e;
    border-radius: 15px;
    transition: 1s;
}

.description {
    color: gray;
}

button {
    padding: 10px;
    margin: 20px;
    font-family: 'Ubuntu Mono';
    background: #4d4d4d;
    box-shadow: 0px 0px 5px black;
    border: 2px solid #84ef8e;
    border-radius: 10px;
    color: white;
    transition: .5s;
}

button:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 10px white;
    transition: .5s;
    color:#84ef8e;
    background: #393939;
}